<div [@main] = 'state' class="comp-body">
    <div class="content-white">
        <h1>Contact</h1>
        <p>Feel free to contact us if you have any enquiries.</p>
        <div class="showcase">
            <a href="mailto:info@uniquedesignandprint.co.nz" title="Email">
                <div class="showcase-block" id="email">
                    <h3>Email</h3>
                    <div class="underline"></div>
                    <p>info<br>@uniquedesignandprint.co.nz</p>
                </div>
            </a>
            <a href="tel:+64211471773" title="Phone">
                <div class="showcase-block" id="phone">
                    <h3>Phone</h3>
                    <div class="underline"></div>
                    <p>Mob: 027 147 1773<br>
                    Office: (04) 566 9722</p>
                </div>
            </a>
            <a href="https://www.facebook.com/UDandPrint" title="Our Facebook Page">
                <div class="showcase-block" id="facebook">
                    <h3>Facebook</h3>
                    <div class="underline"></div>  
                    <p>www.facebook.com<br>/UDandPrint</p>
                </div>
            </a>
        </div>
        <div class="bottom">
            <div class="drop-in">
                <h3>Or drop in for a chat at: </h3>
                <p>Shop 3<br>
                    (Facing Laings Road – behind Rebel Sports)<br>
                    108-110 High Street<br>
                    Lower Hutt<br>
                    Wellington
                </p>
            </div>
            <div class="map">
                <agm-map [latitude]="lat" [longitude]="lng"  [zoom]="15">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>            
        </div>
        
         
    </div>

    

</div>