<h2>Posters</h2>

<div class="sample-body">
    <div *ngFor="let x of images">
        <div class="sample-container background-{{x.bg}}">
            <div *ngIf="x.pos == 'left'">
                <img src="{{x.path}}" class="img-{{x.pos}}">
                <div class="desc-{{x.textPos}}">
                    {{x.desc}}
                </div>
            </div>
            <div *ngIf="x.pos == 'right'">
                <div class="desc-{{x.textPos}}">
                    {{x.desc}}
                </div>
                <img src="{{x.path}}" class="img-{{x.pos}}">
            </div>
        </div>
    </div>

</div>
