
img {
    width: 30%;
    margin-left: 10%;
    box-shadow: 0 4px 10px #777777;
    transition: all 0.2s ease;

}

img:hover {
    transform: scale(1.02);
}

.img-right {
    margin-left: 60%;
}

.desc-right {
    position: relative;
    border: none;
    display: inline-block;
    width: 50%;
    height: 100%;
    margin-top: 15%;
    margin-left: 3%;
    margin-right: 3%;
    vertical-align: top;
    text-align: center;
}

.desc-left {
    position: relative;
    border: none;
    display: inline-block;
    width: 50%;
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
    vertical-align: middle;
    text-align: center;
}

.sample-container {
    border: none;
    width: 115%;
    margin-left: -7.5%;
    padding: 20px 0;
}

.background-accent {
    background-color: #FFF1C8;
}