.services-list {
    width: 110%;
    column-count: 4;
    margin: 2% 0 0 -5%;
    background-color: #F8F8F8;
    transition: all 0.2s ease;  
    padding: 10px;

}


.services-list li {
    display: inline-table;
    width: 100%;
}

.services-list .tick {
    color: #F1B908;
}

.comp-body a:hover {
    color: #F1B908;
}

footer {
    margin-top: 10%;
}

@media (max-width: 997px){

    .comp-body {
        text-align: center;
    }

    h1:before {
        content: "";
        position: absolute;
        width: 10%;
        height: 1px;
        bottom: 0;
        border-bottom: 1.5px solid #F1B908;
        left: 45%;
    }

    .services-list {
        column-count: 1;
    }

    .services-list ul li {
        margin-left: -15%;
    }

}