<div [@main] = 'state'  class="sample-body">
    <h2>{{title}}</h2>
    <div *ngFor="let x of images">
        <div class="sample-container background-{{x.bg}} animated" animateOnScroll animationName="fadeIn">
            <div *ngIf="x.pos == 'left'">
                <table class="sample-full">
                    <td>
                        <a href="{{x.path}}" class="fancybox" rel="gallery" title="{{x.title}}"><img src="{{x.path}}" class="img-{{x.pos}}"></a>
                    </td>
                    <td class="desc-{{x.textPos}}">   
                        <h3>{{x.title}}</h3>
                        <div class="underline"></div>
                        {{x.desc}}   
                    </td>
                </table> 
            </div>
            <div *ngIf="x.pos == 'right'">
                <table class="sample-full">
                    <td class="desc-{{x.textPos}}">
                        <h3>{{x.title}}</h3>
                        <div class="underline"></div>
                        {{x.desc}}
                    </td>
                    <td>
                        <a href="{{x.path}}" class="fancybox" rel="gallery" title="{{x.title}}"><img src="{{x.path}}" class="img-{{x.pos}}"></a>
                    </td>
                </table>                
            </div>
        </div>
    </div>

</div>