table {
    position: relative;
}

.sample-nav {
    border: solid;

}

.sample-container{
    visibility: hidden;
}

table {
    margin-left: 10%;
}

th {
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

th:hover {
    color: #F1B908;
}

h3 {
    text-align: center;
}


.underline {
    margin-top: -20px;
    margin-bottom: 10px;
}

img {
    width: 75%;
    box-shadow: 0 4px 10px #777777;
    transition: all 0.2s ease;
    display: inline;
    position: relative;
}   

img:hover {
    transform: scale(1.02);
}

.img-right {
    margin-left: 25%;
}

.desc-right {
    padding: 0 0 0 10%;
    text-align: center;
}

.desc-left {
    padding: 0 10% 0 0;
    text-align: center;
}

.sample-full {
    border: none;
    width: 80%;
}

.sample-full td {
    border: none;
    vertical-align: middle;
    width: 50%;
}

.sample-container {
    border: none;
    width: 115%;
    margin-left: -7.5%;
    padding: 20px 0;
}

.background-accent {
    background-color: #FFF1C8;
}



footer {
    margin-top: 10%;
}
