<div class="comp-body">
    <h1>Samples</h1>
    <p>Feel free to browse through our library of Samples</p>
    <table id="sample-menu" (scroll) = "this.onScroll()">
        <thead>
            <th *ngFor="let s of sampleTypes" (click) = "showSample(s.title)">{{s.title}}</th>
        </thead>
    </table>

    <div id="mob-sample-menu">
        <table class="mob-sample-menu-row">
            <thead>
                <th *ngFor="let s of sampleTypes | slice:0:sampleTypes.length/2; let i = index" >
                    <span *ngIf="i<sampleTypes.length/2">{{s.title}}</span>
                </th>
            </thead>
        </table>
        <table class="mob-sample-menu-row">
            <tbody>
                <th *ngFor="let s of sampleTypes | slice:sampleTypes.length/2:sampleTypes.length; let i = index" >
                    <span>{{s.title}}</span>
                </th>
            </tbody>
        </table>
    </div>

    <div class="sub-comp"> 
        <div *ngIf="this.sampleTypes[0].show == true"><posters></posters></div>
        <div *ngIf="this.sampleTypes[1].show == true"><logos></logos></div>
        <div *ngIf="this.sampleTypes[2].show == true"><business-cards></business-cards></div>
        <div *ngIf="this.sampleTypes[3].show == true"><certificates></certificates></div>
        <div *ngIf="this.sampleTypes[4].show == true"><invitations></invitations></div>
        <div *ngIf="this.sampleTypes[5].show == true"><flyers></flyers></div>
        <div *ngIf="this.sampleTypes[6].show == true"><brochures></brochures></div>
        <div *ngIf="this.sampleTypes[7].show == true"><letterheads></letterheads></div>
        <div *ngIf="this.sampleTypes[8].show == true"><newsletters></newsletters></div>
  
    </div>
    
</div>



