<header>
  <div class="container">
    <div class="logo">
        <img src="./assets/img/logo.png">
    </div>
      <nav>
        <ul>
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="about">About</a></li>
          <li><a routerLink="services">Services</a></li>
          <li>Samples</li>
          <li>Quotes</li>
          <li><a routerLink="contact">Contact</a></li>
        </ul>
      </nav>
  </div>
</header>
<menu></menu>
<router-outlet></router-outlet>

<footer>
  <div class="container">
    <ul class="footer-menu">
      <li class="footer-menu-item">Home</li>
      <li class="footer-menu-item">About</li>
      <li class="footer-menu-item">Services</li>
      <li class="footer-menu-item">Samples</li>
      <li class="footer-menu-item">Quotes</li>
      <li class="footer-menu-item">Contact</li>
    </ul>
  </div>
</footer>