<div class="hero-banner">
    <h2> Your Friendly One-Stop <span class="yellow">Design</span> and <span class="yellow">Digital Print</span> Shop.</h2>
</div>
<div class="comp-body">
    <h1>Welcome</h1>
    <p>
        Unique Design and Print Ltd is a family owned business located in Lower Hutt
         and dedicated to providing a range of services in the digital printing industry.
    </p>
    <p>
        We take pride in undertaking the graphic design, digital printing and finishing 
        requirements of our valued customers and offer a friendly service at extremely competitive prices. 
        Every effort is made to maintain a consistently high standard of printing and meet required deadlines at all times.
    </p>
    <p>
        Unique Design and Print is owned and operated by Hasi who has the 
        experience of over 14 years in the digital printing industry in New Zealand. 
        His skills as a graphic designer and his knowledge and experience as a digital 
        printer ensures that every job is completed with total commitment and accuracy to 
        ensure total customer satisfaction.
    </p>
    <p>
        Unique Design and Print is proud to be in partnership with Konica Minolta.
    </p>
</div>