.hero-banner{
    position: relative;
    width: 115%;
    background-image: url(../assets/img/hero.png);
    text-align: center;
    padding-bottom: 15%;
    margin-top: -2%;
    margin-left: -7.5%;
    font-family: 'PT Serif', serif;
}

.hero-banner h2 {
    color: #ffffff;
    font-weight: normal;
    padding-top: 12.5%;
}

.yellow {
    color: #F1B908;
}

.container{
    position: relative;
    width: 90%;
    border: solid #ff0000;
}


.content-white {
    padding: 10px;
    background-color: #ffffff;
}

.showcase {
    width: 100%;
    text-align: center;
}

.showcase button {
    background-color: #F1B908;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 1% 5%;
    transition: all 0.2s ease;
    cursor: pointer;
    font-family: 'PT Serif', serif; 
}

.showcase button:hover {
    box-shadow: 0 4px 10px #777777;

}

.showcase-block {
    background-color: #F8F8F8;
    text-align: center;
    width: 30%;
    margin: 0 1% 3% 1%;
    height: 200px;
    display: inline-block;
    transition: all 0.2s ease;
}

.mainb {
    border: none;
    height: 100%;
}



.showcase-block:hover {
    box-shadow: 0 4px 10px #777777;
}

@media (max-width: 997px){

    .hero-banner{
        margin-top: -20px;
    }

    .content-white, .content-yellow {
        text-align: center;
    }

    h1:before {
        content: "";
        position: absolute;
        width: 10%;
        height: 1px;
        bottom: 0;
        border-bottom: 1.5px solid #F1B908;
        left: 45%;
    }

    .showcase-block {
        width: 50%;
        padding: 0 10%;
        margin-bottom: 10%;
    }

    button {
        margin-top: 10%;
    }
    
}

